/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/
body{
    font-family: 'Montserrat', sans-serif;
}

main{
    width: 100%;
    height: calc( 100vh - 100px );
    overflow: hidden;

    background-color: aquamarine;
}

footer{
    width: 100%;
    height: 100px;
    overflow: hidden;

    background-color: bisque;
}

img{
    width: 100%;
}

.col{
    float: left;

    /*tetst*/
    height: 100%;
}

main aside ul{
    list-style-type: none;
    padding: 5px 20px;
}

main aside a{
    text-decoration: none;
    font-size: 13px;
    color: #666666;
}

/*MAIN*/
/*main-header*/
.main-header{
    width: calc( 100% - 220px );
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

/*main-aside*/
main aside{
    width: 220px;
    height: 100%;
    min-height: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.logo-container{
    width: 100%;
    height: 80px;
    flex-shrink: 0;
    display: flex;
    justify-content: left;
    align-items: center;

    /*test*/
    background-color: lightgray;
}

.logo{
    width: 150px;
    margin-left: 20px;
    display: inline-block;
}

.small-logo{
    display: none;

    /*test*/
    background-color: red;
}

aside ul li{
    margin: 3px 0;
    line-height: 25px;
}

aside ul a img{
    width: 25px;
    margin-bottom: 5px;
    vertical-align: middle;
}

.playlist{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.playlist h2{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
    color: white;
}

.plus-icon{
    font-size: 20px;
    color: black;
    background-color: #a3a3a3;
}

.playlist-maker span.plus-icon{
    display: inline-block;
    margin: 7px 7px 7px 20px;
    padding: 7px 10px;
}

.playlist-maker > span{
    font-size: 15px;
    color: #666666;
}

.playlist-group{
    flex-grow: 1;
    overflow-y: auto;

    /*test*/
    background-color: lightgreen;
}

.user{
    flex-shrink: 0;
    margin: 0 20px;
}

.download-app{
    padding: 5px 0;
    border-bottom: 1px solid #666666;
}

.user .download-app img.download-icon{
    width: 16px;
    vertical-align: middle;
}

.user .download-app span{
    font-size: 13px;
    color: #666666;
}

.profile{
    margin-top: 10px;
    margin-bottom: 5px;
}

.profile img.profile-icon{
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    vertical-align: middle;
    background-color: #808080;
    color: white;
}

.username{
    font-size: 15px;
    font-weight: bold;
    color: white;
}

/*main-content*/
.main-content{
    width: calc( 100% - 220px );
    height: 100%;
    padding-top: 100px;
    overflow-y: auto;
    background-color: lightcoral;
}



/*Mediaquery for Tablet (medium)*/


/*Mediaquery for Smartphone (small)*/


/*Mediaquery for Smartphone (x-small)*/
@media screen and (max-width: 600px) {
    
    /*main-header*/
    .main-header{
        width: calc( 100% - 60px );
}

    /*main-aside*/
    main aside{
        width: 60px;
    }

    .logo{
        display: none;
    }

    .small-logo{
        display: inline-block;
    }

    .playlist *{
        display: none;
    }

    /*main-content*/
    .main-content{
        width: calc( 100% - 60px );
    }

}