/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/
body{
    font-family: 'Montserrat', sans-serif;
}

main{
    width: 100%;
    height: calc( 100vh - 100px );
    overflow: hidden;

    /*test*/
    background-color: aquamarine;
}

footer{
    width: 100%;
    height: 100px;
    overflow: hidden;
    color: white;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

img{
    width: 100%;
}

.col{
    float: left;
}

/*Button*/
.btn{
    display: inline-block;
    text-decoration: none;
}

.btn-large{
    padding: 10px 30px;
    font-size: 11px;
    font-weight: 600;
}

.bkg-white{
    border: 1px solid white;
    border-radius: 20px;
    color: white;
}

main aside ul{
    list-style-type: none;
    padding: 5px 20px;
}

main aside a{
    text-decoration: none;
    font-size: 13px;
    color: #666666;
}

/*MAIN*/
/*main-header*/
.main-header{
    width: calc( 100% - 220px );
    height: 80px;
    padding: 15px 20px;
    text-align: right;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

/*main-aside*/
main aside{
    width: 220px;
    height: 100%;
    min-height: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    background-color: #000000;
}

.logo-container{
    width: 100%;
    height: 80px;
    flex-shrink: 0;
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo{
    width: 150px;
    margin-left: 20px;
    display: inline-block;
}

.small-logo{
    display: none;
    width: 25px;
    margin-bottom: 5px;
}

aside ul li{
    margin: 3px 0;
    line-height: 25px;
}

aside ul a img{
    width: 25px;
    margin-bottom: 5px;
    vertical-align: middle;
    filter: opacity(0.7);
}

/*Playlist*/
.playlist{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.playlist h2{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
    color: white;
}

.plus-icon{
    font-size: 20px;
    color: black;
    background-color: #a3a3a3;
}

/*Playlist maker*/
.playlist-maker span.plus-icon{
    display: inline-block;
    margin: 7px 7px 7px 20px;
    padding: 7px 10px;
}

.playlist-maker > span{
    font-size: 15px;
    color: #666666;
}

.playlist-group{
    flex-grow: 1;
    overflow-y: auto;
}

/*User*/
.user{
    flex-shrink: 0;
    margin: 0 20px;
}

.download-app{
    padding: 5px 0;
    border-bottom: 1px solid #666666;
}

.user .download-app img.download-icon{
    width: 16px;
    vertical-align: middle;
    filter: opacity(0.7);
}

.user .download-app span{
    font-size: 13px;
    color: #666666;
}

.profile{
    margin-top: 10px;
    margin-bottom: 5px;
}

.profile img.profile-icon{
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    vertical-align: middle;
    background-color: #808080;
    color: white;
}

.username{
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.user span{
    margin-left: 5px;
}

/*main-content*/
.main-content{
    width: calc( 100% - 220px );
    height: 100%;
    padding-top: 100px;
    overflow-y: auto;
    background-color: darkcyan;
}

/*FOOTER*/
.song{
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*test*/
    /* background-color: darkgoldenrod; */
}

.album-container{
    display: flex;
}

.album-container .copertina img{
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

.copertina{
    display: flex;
    align-items: center;
}

.album{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.album .album-name{
    font-size: 12px;
    font-weight: bold;
}

.album .song-name{
    font-size: 10px;
    font-weight: bold;
    color: #666666;

}



/*MEDIAQUERY*/
/*Mediaquery for Tablet (medium)*/


/*Mediaquery for Smartphone (small)*/


/*Mediaquery for Smartphone (x-small)*/
@media screen and (max-width: 600px) {
    
    /*main-header*/
    .main-header{
        width: calc( 100% - 50px );
    }

    /*main-aside*/
    main aside{
        width: 50px;
        align-items: center;
    }

    .logo-container{
        height: auto;
        margin-top: 5px;
        justify-content: center;
    }

    .logo{
        display: none;
    }

    .small-logo{
        display: inline-block;
    }

    aside ul a span{
        display: none;
    }

    .playlist *{
        display: none;
    }

    .download-app{
        text-align: center;
        margin-right: 2px;
        border-bottom: none;
    }

    .user span{
        display: none;
        margin-left: 0;
    }

    /*main-content*/
    .main-content{
        width: calc( 100% - 50px );
    }

}